<mat-card>


  <mat-form-field style="width: 100%;">
    <mat-label>Convention</mat-label>
    <mat-select (selectionChange)="selectChange($event.value)">
      <mat-option value="0">...</mat-option>
      <mat-option *ngFor="let e of traites | async" [value]="e.id">{{ e.nom }}</mat-option>
    </mat-select>
  </mat-form-field>

  <div style="display: block;">
    <canvas baseChart
      [datasets]="barChartData"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [colors]="barChartColors"
      [legend]="barChartLegend"
      [labels]="barChartLabels"
      [chartType]="barChartType">
    </canvas>
  </div>

  </mat-card>
