img {
  height: 60px;
  width: 60px;
  padding: 3px;
}

.section-date {
  margin-top: 20px;
  background-color: #d17c36;
  padding: 10px;
  height: fit-content;
  width: 80px;
  span {
    margin-bottom: 5px;
    color: white;
  }
  span:nth-child(1) {
    font-size: 27px;
    font-weight: bold;
    color: white;
  }
}

.section-title {
  display: flex;
  justify-content: space-between;
  background-color: var(--gray);
  padding: 1px 10px;
  margin-top: 20px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);

  button {
    height: fit-content;
    margin: auto 0;
  }
}

mat-panel-title {
  display: flex;
  align-items: center;
  p {
    margin: 0 0 0 10px;
  }

  mat-icon {
    margin-top: 5px;
  }
}
