.font-fr {
  mat-label {
    font-size: 1em;
  }

  .mat-tab-label-content {
    font-size: 1em;
  }

  .myspan {
    color: white;
    font-size: 1.1em;
  }

  .myspan2 {
    color: white;
    font-size: 1em;
  }

  .mat-header-row {
    .mat-sort-header-button,
    .mat-header-cell {
      font-size: 1em;
    }
  }

  .mat-cell {
    font-size: 15px;
  }

  .pie-title {
    font-size: 1.2em;
  }
}

.font-ar {
  mat-label {
    font-size: 1.2em;
  }

  .mat-tab-label-content {
    font-size: 1.5em;
  }

  .myspan {
    color: white;
    font-size: 1.5em;
  }

  .myspan2 {
    color: white;
    font-size: 1.2em;
  }

  .mat-header-row {
    .mat-sort-header-button,
    .mat-header-cell {
      font-size: 1.2em;
    }
  }

  .mat-cell {
    font-size: 17px;
  }

  .pie-title {
    font-size: 1.5em;
  }

  .mat-button-wrapper,
  .mat-raised-button {
    font-size: 1.1em !important;
  }

  .mat-button,
  .mat-fab,
  .mat-flat-button,
  .mat-icon-button,
  .mat-mini-fab,
  .mat-raised-button,
  .mat-stroked-button {
    font-size: 1.1em !important;
  }
}

.mat-option-text {
  font-size: 1.2em !important;
}
