<div class="dialog">
  <h1 mat-dialog-title>
    <mat-toolbar role="toolbar" class="task-header">
      <span>{{title}}</span>
    </mat-toolbar>
    <mat-divider></mat-divider>
  </h1>
  <div class="content">
    <div mat-dialog-content>

      <ul *ngIf="type === 'cercle'">
        <li>État d'avancement : {{o.p.toFixed(2)}}</li>
        <li>Réaliser : {{o.r.toFixed(2)}}</li>
        <li>Taux : {{o.t.toFixed(2)}}</li>
      </ul>

      <div *ngIf="type === 'bar'">
        <ul *ngFor="let e of list; let i=index">
          <li style="font-weight: bold;">{{e.name}}</li>
          <li>État d'avancement : {{e.p.toFixed(2)}}</li>
          <li>Réaliser : {{e.r.toFixed(2)}}</li>
          <li>Taux : {{e.t.toFixed(2)}}</li>
        </ul>
      </div>

      <div *ngIf="type === 'pie'">
        <ul *ngFor="let e of list; let i=index">
          <li style="font-weight: bold;">{{e.name}}</li>
          <li>{{e.value.toFixed(2)}}</li>
        </ul>
      </div>

    </div>


    <div class="actions" mat-dialog-actions>
      <button mat-button (click)="onNoClick()" type="button">Retour</button>
    </div>
  </div>
</div>