<div class="d-flex flex-column align-items-center justify-content-center">

  <div style="display: block; width: 300px;">
    <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
      [options]="pieChartOptions" [plugins]="pieChartPlugins" [colors]="pieChartColors" [legend]="pieChartLegend">
    </canvas>
  </div>
  <div class="d-flex flex-column justify-content-center mt-2">
    <img src="assets/line.png" height="10px" width="280px">
    <h5 style="color: #737473; margin: 5px 0 10px 5px;">
      {{title}}
    </h5>
  </div>

</div>