<div class="host">
  <!-- <div class="cards">
    <mat-card *ngIf="!session.isPointFocal && !session.isSuperViseur" matRipple
      style="background: #00A65A; color: white;" [routerLink]="['/admin/recommendation/update/0']">
      <mat-icon>done_all</mat-icon>
      <p style="margin-left: auto;">Nouvelle Recommandation</p>
    </mat-card>

    <mat-card *ngIf="!session.isPointFocal && !session.isSuperViseur" matRipple
      style="background: #4B94BF; color: white; margin-left: 10px !important;"
      [routerLink]="['/admin/rapport/update/0']">
      <mat-icon>book</mat-icon>
      <p style="margin-left: auto;">Nouveau rapport</p>
    </mat-card>

    <mat-card matRipple style="background: #4B94BF; color: white; margin-left: 10px !important;">
      <p style="font-size: 2.5em; font-weight: bold;">
        {{ (recommendations | async) ? (recommendations | async) : '...' }}</p>
      <p style="margin-left: auto;">Recommandations</p>
    </mat-card>

    <mat-card matRipple style="background: #00A65A; color: white; margin-left: 10px !important;">
      <p style="font-size: 2.5em; font-weight: bold;">{{(rapports | async) ? (rapports | async) : '...'}}</p>
      <p style="margin-left: auto;">Conventions</p>
    </mat-card>
  </div>

  <mat-divider></mat-divider>

  <div class="row pr-3 pl-3 pb-3">
    <img src="assets/home.jpg" alt="" srcset="" style="width: 100%; background-size: cover;">
  </div> -->
  <!-- <app-title title="Accueil"></app-title>
  <section class="mb-2">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis atque natus consequuntur quas aut iure mollitia
      nam ducimus doloribus alias.</p>
  </section> -->

  <div class="d-flex justify-content-center w-100 mb-5">
    <section class="super-title2">
      <div>
        <h3>Système de Suivi des recommandations</h3>
      </div>
    </section>
  </div>

  <div class="d-flex justify-content-center w-100">
    <section class="super-title">
      <div>
        <h3>Mise en œuvre des recommandations des mécanismes onusiens des droits de l’homme</h3>
      </div>
    </section>
  </div>
  <h3 style="font-size: 1.4em;">« ﺣﻘﻮق اﻻﻧﺴﺎن ﻻ ﺗﺄتي ﻓﻘﻂ ﺑﺎﳌﻄﺎﻟﺒﺔ ﺑﻞ أﻳﻀﺎ ﺑﺄداء اﻟﻮاﺟﺐ »</h3>



  <div class="row mt-3">
    <!-- <mat-form-field class="col-md-6">
      <mat-label>Mecanismes</mat-label>
      <mat-select (selectionChange)="selectChange($event.value)" value="Examen périodique universal">
        <mat-option *ngFor="let e of mecanismes" [value]="e">{{ e }}</mat-option>
      </mat-select>
    </mat-form-field> -->
    <div class="col-md-12">
      <div class="row w-100">
        <div class="col-md-12">
          <div class="chart-size">
            <app-doughnut [obs]="pieChartSubjectEPU" [pieChartType]="'doughnut'"></app-doughnut>
          </div>
        </div>
        <div class="col-md-6">
          <div class="chart-size">
            <app-doughnut [obs]="pieChartSubjectOT" [pieChartType]="'doughnut'"></app-doughnut>
          </div>
        </div>
        <div class="col-md-6">
          <div class="chart-size">
            <app-doughnut [obs]="pieChartSubjectPS" [pieChartType]="'doughnut'"></app-doughnut>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- <mat-divider> </mat-divider> -->
  <!-- <h3>Mise en œuvre des recommandations </h3> -->
  <div class="d-flex justify-content-center w-100 mt-5 mb-5">
    <section class="super-title">
      <div>
        <h3>Mise en œuvre des axe</h3>
      </div>
    </section>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-12">
      <!-- <mat-card>

        <div class="row d-flex justify-content-center mt-4 mb-4">
          <div class="col-md-5 d-flex flex-column">
            <div *ngFor="let e of axesValue; let i=index">
              <div class="axes">
                <p class="title">Enjeu {{e.id}} : {{e.value}} %</p>
                <p class="axe">{{e.table}}</p>
              </div>
            </div>
          </div>

          <div class="col-md-7">
            <img src="assets/axes.jpg" style="width: 100%;">
          </div>
        </div>
      </mat-card> -->
      <div class="d-flex flex-column align-items-center" style="position: relative;height: 350px;">
        <div class="d-flex flex-nowrap" style="position: absolute;top: 87px;z-index: 10;width: 1500px;">
          <span *ngFor="let e of axesValue; let i=index" [style.margin-left.px]="i === 0 ? 16 : '150'" style="color: white; font-weight: bold;">
            {{e.value.toString().length >= 2 ? e.value : '0' + e.value}} %
          </span>
        </div>
        <img style="position: absolute;width: 1500px; margin: 0 auto;" src="assets/meo.png">

      </div>
    </div>
  </div>

  <!-- <mat-divider> </mat-divider> -->

  <div class="d-flex justify-content-center w-100 mb-5" style="margin-top: 50px;">
    <section class="super-title">
      <div>
        <h3>Mise en œuvre des recommandations par départements</h3>
      </div>
    </section>
  </div>

  <div class="row mb-5">
    <div class="col-md-12">
      <div>
        <!-- <div class="d-flex justify-content-center">
          <h5 style="color: rgb(94, 94, 94); margin: 0 0 10px 0;">Etat d’avancement des recommandations – départements
          </h5>
        </div> -->
        <div class="d-flex flex-wrap justify-content-center">

          <div *ngFor="let e of list; let i=index">
            <!-- <div class="d-flex flex-column pl-2 pr-2 mb-3 mt-3">
              <div style="height: 110px;" class=" pl-4 pr-4">

                <mat-progress-spinner color="primary" mode="determinate" [value]="e.value !== 0 ? e.value : 1"></mat-progress-spinner>
                <div style="position:relative; top: -60px; left: 30px;">{{e.value}} %</div>
              </div>
              <p style="width: 170px; margin: 0; font-size: .9em; text-align: center;">{{e.name}}</p>
            </div> -->

            <app-doughnut [isInForLoop]="true" [widthText]="'160px'" [fontSize]=".7" [width]="170" [elementFromForLoop]="e" [pieChartType]="'doughnut'"></app-doughnut>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
