// mat-card {
//   display: grid;
//   flex-direction: column;
//   // align-items: center;
//   height: 100px;
// }

// .mat-icon {

// }

// .cards {
//   display: flex;
//   align-items: center;
//   // justify-content: center;
//   // margin-bottom: 10px;
//   mat-card {
//     cursor: pointer;
//     width: 230px;
//     // margin: 10px !important;
//     display: flex;
//     flex-direction: column;
//     // align-items: center;
//     justify-content: center;

//     mat-icon {
//       margin-bottom: 30px !important;
//       font-size: 50px !important;
//     }

//     .align {
//       display: flex;
//       // flex-direction: row-reverse;
//       align-items: center;
//       justify-content: space-between;
//     }

//     button {
//       margin: 0 -16px 0 0;
//       border-radius: 0;
//     }

//     p {
//       margin-bottom: 5px;
//     }
//   }
// }

.chart-size {
  // width: 200px;
}

.border-left {border-left: 10px solid #a19b9e;}
.border-right {border-right: 10px solid #a19b9e;}

.super-title {

  height: 45px;
  display: flex;
  align-items: center;
  div {
    background-color: #d17c36;
    height: 35px;
    display: flex;
    align-items: center;
    h3 {
      color: white;
      margin: 0 0 0 0;
      padding: 0 5px;
    }
  }
}

.super-title2 {
  // border-left: 10px solid #d17c36;
  height: 45px;
  display: flex;
  align-items: center;
  div {
    // background-color: #a19b9e;
    height: 35px;
    display: flex;
    align-items: center;
    h3 {
      color: #a19b9e;
      margin: 0 0 0 0;
      padding: 0 5px;
      font-size: 1.8em;
    }
  }
}

.row {
  // margin-top: 10px;
}
.host {
  margin: 1em !important;
}

::ng-deep .mat-progress-spinner circle {
  fill: #00000008 !important;
}

h3 {
  margin: 20px 0 10px;
  color: var(--primary);
  text-align: center;
}

.axes {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 5px rgb(221, 221, 221);
  padding: 5px 5px;
  margin-bottom: 5px;
  p {
    margin: 0;
    font-size: .8em;
  }

  .title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: .9em;
  }
}

/* latin */
@font-face {
  font-family: 'Satisfy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Satisfy Regular'), local('Satisfy-Regular'), url(https://fonts.gstatic.com/s/satisfy/v11/rP2Hp2yn6lkG50LoCZOIHQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
