// mat-card {
//   display: grid;
//   flex-direction: column;
//   // align-items: center;
//   height: 100px;
// }

// .mat-icon {

// }

// .cards {
//   display: flex;
//   align-items: center;
//   // justify-content: center;
//   // margin-bottom: 10px;
//   mat-card {
//     cursor: pointer;
//     width: 230px;
//     // margin: 10px !important;
//     display: flex;
//     flex-direction: column;
//     // align-items: center;
//     justify-content: center;

//     mat-icon {
//       margin-bottom: 30px !important;
//       font-size: 50px !important;
//     }

//     .align {
//       display: flex;
//       // flex-direction: row-reverse;
//       align-items: center;
//       justify-content: space-between;
//     }

//     button {
//       margin: 0 -16px 0 0;
//       border-radius: 0;
//     }

//     p {
//       margin-bottom: 5px;
//     }
//   }
// }

.chart-size {
  // width: 200px;
}

.super-title {
  border-left: 10px solid #a19b9e;
  height: 45px;
  display: flex;
  align-items: center;
  div {
    background-color: #d17c36;
    height: 35px;
    display: flex;
    align-items: center;
    h3 {
      color: white;
      margin: 0 0 0 0;
      padding: 0 5px;
    }
  }
}

.super-title2 {
  // border-left: 10px solid #d17c36; 
  height: 45px;
  display: flex;
  align-items: center;
  div {
    // background-color: #a19b9e;
    height: 35px;
    display: flex;
    align-items: center;
    h3 {
      color: #a19b9e;
      margin: 0 0 0 0;
      padding: 0 5px;
      font-size: 1.8em;
    }
  }
}

.row {
  // margin-top: 10px;
}
.host {
  margin: 1em !important;
}

::ng-deep .mat-progress-spinner circle {
  fill: #00000008 !important;
}

h3 {
  margin: 20px 0 10px;
  color: var(--primary);
  text-align: center;
}

.axes {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 5px rgb(221, 221, 221);
  padding: 5px 5px;
  margin-bottom: 5px;
  p {
    margin: 0;
    font-size: .8em;
  }

  .title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: .9em;
  }
}

