<div class="host">
  <!-- <div class="cards">
    <mat-card *ngIf="!session.isPointFocal && !session.isSuperViseur" matRipple
      style="background: #00A65A; color: white;" [routerLink]="['/admin/recommendation/update/0']">
      <mat-icon>done_all</mat-icon>
      <p style="margin-left: auto;">Nouvelle Recommandation</p>
    </mat-card>

    <mat-card *ngIf="!session.isPointFocal && !session.isSuperViseur" matRipple
      style="background: #4B94BF; color: white; margin-left: 10px !important;"
      [routerLink]="['/admin/rapport/update/0']">
      <mat-icon>book</mat-icon>
      <p style="margin-left: auto;">Nouveau rapport</p>
    </mat-card>

    <mat-card matRipple style="background: #4B94BF; color: white; margin-left: 10px !important;">
      <p style="font-size: 2.5em; font-weight: bold;">
        {{ (recommendations | async) ? (recommendations | async) : '...' }}</p>
      <p style="margin-left: auto;">Recommandations</p>
    </mat-card>

    <mat-card matRipple style="background: #00A65A; color: white; margin-left: 10px !important;">
      <p style="font-size: 2.5em; font-weight: bold;">{{(rapports | async) ? (rapports | async) : '...'}}</p>
      <p style="margin-left: auto;">Conventions</p>
    </mat-card>
  </div>

  <mat-divider></mat-divider>

  <div class="row pr-3 pl-3 pb-3">
    <img src="assets/home.jpg" alt="" srcset="" style="width: 100%; background-size: cover;">
  </div> -->

  <div class="row">
    <mat-form-field class="col-md-6">
      <mat-label>Mecanismes</mat-label>
      <mat-select (selectionChange)="selectChange($event.value)" value="Examen périodique universal">
        <mat-option *ngFor="let e of mecanismes" [value]="e">{{ e }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="col-md-12">
      <div class="row w-100">
        <div class="col-md-6">
          <app-pie-chart [obs]="pieChartSubject"></app-pie-chart>
        </div>
        <div class="col-md-6">
          <app-pie-chart [obs]="pieChartSubjectC"></app-pie-chart>
        </div>
      </div>
    </div>


  </div>