<div class="host">

  <div class="d-flex justify-content-center mb-5">
    <img [src]="(mytranslate.lang | async) === 'fr' ? 'assets/1.jpg' : 'assets/1_ar.jpg'" alt="" srcset=""
      style="width: 100%;">
  </div>

  <div class="row mb-10" *ngIf="!session.isPublic">
    <div class="col-md-12">
      <div class="mb-5">
        <div class="d-flex align-items-center">
          <img src="assets/points.png" alt="points.png" srcset="" style="height: 30px;">
          <h2 style="color: rgb(94, 94, 94); margin: 0;">
            {{ 'admin.home.Etatdavancementdesrecommandations–départements' | translate }}
          </h2>
        </div>

        <div class="col-md-12">
          <app-bar [col]="12" [height]="'60vh'" [dataSubject]="departementSubjectPE"></app-bar>
        </div>

        <div class="row" style="height:70vh;">

          <!-- <div class="col-md-3">
            <app-bar [col]="12" [dataSubject]="departementSubjectAutre"></app-bar>
          </div>

          <div class="col-md-3">
            <app-bar [col]="12" [dataSubject]="departementSubjectPJ"></app-bar>
          </div>

          <div class="col-md-6">
            <app-bar [col]="12" [height]="'55vh'" [dataSubject]="departementSubjectIN"></app-bar>
          </div> -->

        </div>
      </div>
    </div>
  </div>
</div>
