<div class="host">
  <app-title title="{{ 'admin.recommandation.list.Recommandation' | translate }}"></app-title>
  <div class="">


    <form [formGroup]="myForm"> 
      <mat-card style="margin-top: 15px;">
        <div class="input">
          <mat-form-field appearance="fill" style="width: 20%;">
            <mat-label>{{ 'admin.recommandation.list.code' | translate }}</mat-label>
            <input matInput formControlName="codeRecommendation" required [readonly]="!isAdmin">
          </mat-form-field>
          <span style="margin: 0 1%;"></span>
          <mat-form-field appearance="fill" style="width: 78%;">
            <mat-label>{{ 'admin.recommandation.list.nom' | translate }}</mat-label>
            <!-- <textarea matInput rows="0" formControlName="nom" required></textarea> -->
            <input matInput formControlName="nom" required [readonly]="!isAdmin">
          </mat-form-field>
        </div>



        <div class="inputs2">
          <mat-form-field appearance="fill">
            <mat-label>{{ 'admin.recommandation.list.mecanisme' | translate }}</mat-label>
            <mat-select formControlName="mecanisme" (selectionChange)="selectChange($event.value)" [disabled]="!isAdmin">
              <mat-option value="0">...</mat-option>
              <mat-option *ngFor="let e of mecanismes" [value]="e">{{ e }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" *ngIf="cycleActive">
            <mat-label>{{ 'admin.recommandation.update.Cycle' | translate }}</mat-label>
            <mat-select formControlName="idCycle" [disabled]="!isAdmin">
              <mat-option value="0">...</mat-option>
              <mat-option *ngFor="let e of cycles | async" [value]="e.id">{{ e.label }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" *ngIf="visiteActive">
            <mat-label>{{ 'admin.recommandation.update.Visite' | translate }}</mat-label>
            <mat-select formControlName="idVisite" [disabled]="!isAdmin">
              <mat-option value="0">...</mat-option>
              <mat-option *ngFor="let e of visites | async" [value]="e.id">{{ mytranslate.langSync === 'fr' ? e.mandat : e.mandatAr }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" *ngIf="organeActive">
            <mat-label>{{ 'admin.recommandation.update.Organe' | translate }}</mat-label>
            <mat-select formControlName="idOrgane" [disabled]="!isAdmin">
              <mat-option value="0">...</mat-option>
              <mat-option *ngFor="let e of organes | async" [value]="e.id">{{ e.label }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="inputs2">
          <mat-form-field appearance="fill">
            <mat-label>{{ 'admin.recommandation.list.Axe' | translate }}</mat-label>
            <mat-select formControlName="idAxe" (selectionChange)="axeChange($event.value)" [disabled]="!isAdmin">
              <mat-option value="">...</mat-option>
              <mat-option *ngFor="let e of axes | async" [value]="e.id">{{ e.label }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>{{ 'admin.recommandation.list.Sousaxe' | translate }}</mat-label>
            <mat-select formControlName="idSousAxe" [disabled]="!isAdmin">
              <mat-option value="">...</mat-option>
              <mat-option *ngFor="let e of sousAxes" [value]="e.id">{{ e.label }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="inputs2">
          <mat-form-field appearance="fill">
            <mat-label>{{ 'admin.recommandation.update.Pays' | translate }}</mat-label>
            <mat-select formControlName="idPays" [disabled]="!isAdmin">
              <mat-option value="0">...</mat-option>
              <mat-option *ngFor="let e of pays | async" [value]="e.id">{{ e.nom }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <mat-form-field appearance="fill" style="width: 78%">
          <mat-label>{{ 'admin.recommandation.list.Etatdemisenoeuvre' | translate }}</mat-label>
          <mat-select formControlName="etat" (selectionChange)="etat($event.value)">
            <mat-option value="">...</mat-option>
            <mat-option *ngFor="let e of etats" [value]="e">{{ e }}</mat-option>
          </mat-select>
        </mat-form-field>
        <span style="margin: 0 1%;"></span>
        <mat-form-field appearance="fill" style="width: 20%;">
          <mat-label>{{ 'admin.recommandation.update.Etaten' | translate }}</mat-label>
          <input matInput formControlName="etatAvancementChiffre" type="number" min="0" max="100" required>
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 100%;" *ngIf="showEtatDavancement">
          <mat-label>{{ 'admin.recommandation.update.Etatdavancement' | translate }}</mat-label>
          <textarea matInput rows="0" formControlName="etatAvancement"></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>{{ 'admin.recommandation.list.OBSERVATIONS' | translate }}</mat-label>
          <textarea matInput rows="0" formControlName="observation"></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>{{ 'admin.recommandation.list.complement' | translate }}</mat-label>
          <textarea matInput rows="0" formControlName="complement"></textarea>
        </mat-form-field>

        <app-upload nameBtn="{{ 'admin.recommandation.update.PieceJointe' | translate }}" [folderToSaveInServer]="folderToSaveInServer"
          [propertyOfParent]="pieceJointeTo" [eventSubmitToParent]="pieceJointeFrom"
          [eventSubmitFromParent]="eventSubmitFromParent">
        </app-upload>

        <!-- {{myForm.value | json}} -->
        <!--  (eventToParent)="updateListOrganisme($event)  [selectedList]="listOrganisme""-->

      </mat-card>
    </form>

    <app-organismes (eventToParent)="updateListOrganisme($event)" [listFromParent]="eventToChild"></app-organismes>

    <div class="actions">
      <button mat-button [routerLink]="['/admin/recommendation/list']" type="button">{{ 'admin.Retour' | translate }}</button>&nbsp;&nbsp;
      <!-- <button mat-button (click)="reset()" type="button">Annuler</button>&nbsp;&nbsp; -->
      <button mat-raised-button cdkFocusInitial color="primary" (click)="submit(myForm)"
        [disabled]="myForm.invalid">{{ 'admin.Enregistre' | translate }}</button>
    </div>
  </div>
</div>
