<div class="host">
  <app-title title="{{ 'admin.synthese.list.Synthèse' | translate }}"></app-title>

  <mat-tab-group class="example-stretched-tabs mat-elevation-z4" #matgroup style="margin-top: 15px;">
    <mat-tab label="{{ 'admin.synthese.list.Synthèse' | translate }}" [disabled]='false'>
      <ng-template matTabContent>
        <form [formGroup]="myForm">
          <div class="myForm" style="margin: 15px; height: 100%;">
            <!-- <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Traité</mat-label>
                    <input matInput formControlName="nom" required>
                  </mat-form-field> -->

            <div class="inputs">
              <mat-form-field appearance="fill">
                <mat-label>{{ 'admin.synthese.update.Code' | translate }}</mat-label>
                <input matInput formControlName="code" required>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>{{ 'admin.synthese.update.Synthèse' | translate }}</mat-label>
                <textarea matInput rows="6" formControlName="detail" required></textarea>
                <!-- <input matInput formControlName="adresse" required> -->
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>{{ 'admin.synthese.update.SynthèseAr' | translate }}</mat-label>
                <textarea matInput rows="6" formControlName="detailAr" required></textarea>
                <!-- <input matInput formControlName="adresse" required> -->
              </mat-form-field>

            </div>

            <!-- {{myForm.value | json}} -->
            <!--  -->

          </div>
        </form>
        <div class="actions">
          <button mat-button [routerLink]="['/admin/synthese/list']" type="button">{{ 'admin.Retour' | translate }}</button>&nbsp;&nbsp;
          <!-- <button mat-button (click)="reset()" type="button">Annuler</button>&nbsp;&nbsp; -->
          <button mat-raised-button cdkFocusInitial color="primary" (click)="submit(myForm)"
            [disabled]="myForm.invalid">{{ 'admin.Enregistre' | translate }}</button>
        </div>
      </ng-template>


    </mat-tab>
    <!--  -->
    <mat-tab label="{{ 'admin.synthese.update.Recommandations' | translate }}" [disabled]='o.id === 0'>
      <ng-template matTabContent>
        <div style="margin: 15px;">
            <app-recommendations [listFromParent]="listRecommendation" [isEdit]="id !== 0" [synthese]="o">
          </app-recommendations>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab label="{{ 'admin.synthese.update.Fiches_organismes' | translate }}" [disabled]='o.id === 0'>
      <ng-template matTabContent>
        <app-fiche-synthese [synthese]="o"></app-fiche-synthese>
      </ng-template>
    </mat-tab>
  </mat-tab-group>






</div>
