<div class="host">





  <app-title title="{{ 'admin.organe.Organesdetraité' | translate }}"></app-title>

  <mat-tab-group class="example-stretched-tabs mat-elevation-z4" style="margin-top: 15px;">
    <mat-tab label="{{ 'admin.organe.update.Traité' | translate }}" [disabled]='false'>
      <ng-template matTabContent>
        <form [formGroup]="myForm">
          <div class="myForm" style="margin-top: 15px; height: 100%;">
            <!-- <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Traité</mat-label>
                    <input matInput formControlName="nom" required>
                  </mat-form-field> -->

            <mat-form-field appearance="fill" style="width: 100%;">
              <mat-label>{{ 'admin.organe.update.ConventionProtocole' | translate}}</mat-label>
              <textarea matInput rows="6" formControlName="nom" required></textarea>
            </mat-form-field>

            <mat-form-field appearance="fill" style="width: 100%;">
              <mat-label>{{ 'admin.organe.update.ConventionProtocoleAr' | translate}}</mat-label>
              <textarea matInput rows="6" formControlName="nomAr" required></textarea>
            </mat-form-field>

            <!-- <mat-form-field appearance="fill" style="width: 100%;">
              <mat-label>Discours du président</mat-label>
              <textarea matInput formControlName="discours" placeholder="Discours du président"></textarea>
            </mat-form-field> -->




            <div class="inputs">
              <mat-form-field appearance="fill">
                <mat-label>{{ 'admin.organe.update.DateSignature' | translate}}</mat-label>
                <input matInput [matDatepicker]="picker5" formControlName="dateSignature">
                <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                <mat-datepicker #picker5></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>{{ 'admin.organe.update.Datederatification' | translate}}</mat-label>
                <input matInput [matDatepicker]="picker0" formControlName="dateRatification">
                <mat-datepicker-toggle matSuffix [for]="picker0"></mat-datepicker-toggle>
                <mat-datepicker #picker0></mat-datepicker>
              </mat-form-field>
            </div>

            <!-- {{myForm.value | json}} -->
            <!--  -->
            <div class="row justify-content-center" style="margin-bottom: 15px;">

              <app-upload-select nameBtn="{{ 'admin.organe.list.Rapportnational' | translate}}" [folderToSaveInServer]="folderToSaveInServer"
                [propertyOfParent]="conventionPieceTo" [eventSubmitToParent]="conventionPieceFrom"
                [eventSubmitFromParent]="eventSubmitFromParent">
              </app-upload-select>
              <app-upload-select nameBtn="{{ 'admin.organe.list.Discoursduprésident' | translate}}" [folderToSaveInServer]="folderToSaveInServer"
                [propertyOfParent]="discoursTo" [eventSubmitToParent]="discoursFrom"
                [eventSubmitFromParent]="eventSubmitFromParent">
              </app-upload-select>

              <app-upload-select nameBtn="{{ 'admin.organe.list.Compterenduanalytique' | translate}}" [folderToSaveInServer]="folderToSaveInServer"
                [propertyOfParent]="analytiquePieceTo" [eventSubmitToParent]="analytiquePieceFrom"
                [eventSubmitFromParent]="eventSubmitFromParent">
              </app-upload-select>

              <app-upload-select nameBtn="{{'admin.organe.list.Observationsfinales' | translate}}"
                [folderToSaveInServer]="folderToSaveInServer" [propertyOfParent]="observationPieceTo"
                [eventSubmitToParent]="observationPieceFrom" [eventSubmitFromParent]="eventSubmitFromParent">
              </app-upload-select>

              <app-upload-select nameBtn="{{ 'admin.organe.list.Rapportparallèle' | translate}}" [folderToSaveInServer]="folderToSaveInServer"
                [propertyOfParent]="rapportParallelePieceTo" [eventSubmitToParent]="rapportParallelePieceFrom"
                [eventSubmitFromParent]="eventSubmitFromParent">
              </app-upload-select>

              <app-upload-select nameBtn="{{ 'admin.organe.list.PLANDEMISEENOEUVRE' | translate}}"
                [folderToSaveInServer]="folderToSaveInServer" [propertyOfParent]="miseOeuvrePieceTo"
                [eventSubmitToParent]="miseOeuvrePieceFrom" [eventSubmitFromParent]="eventSubmitFromParent">
              </app-upload-select>
            </div>
          </div>
        </form>
        <div class="actions">
          <button mat-button [routerLink]="['/admin/rapport/list']" type="button">{{ 'admin.Retour' | translate }}</button>&nbsp;&nbsp;
          <!-- <button mat-button (click)="reset()" type="button">Annuler</button>&nbsp;&nbsp; -->
          <button mat-raised-button cdkFocusInitial color="primary" (click)="submit(myForm.value)"
            [disabled]="myForm.invalid">{{ 'admin.Enregistre' | translate }}</button>
        </div>
      </ng-template>


    </mat-tab>
    <!--  -->
    <!-- <mat-tab label="{{ 'admin.organe.update.Rapport' | translate }}" [disabled]='o.id === 0'>
      <ng-template matTabContent>
        <app-piece-jointes [idTraite]="o.id">
        </app-piece-jointes>
      </ng-template>
    </mat-tab> -->
  </mat-tab-group>






</div>
