<div class="host">
  <app-title title="{{ 'admin.state.Diagrammes_statistiques' | translate }}"></app-title>
  <div class="row">

      
      <div class="col-md-12">
        <div class="row w-100">
          <div class="col-md-12">
            <app-diagramme></app-diagramme>
          </div>
        </div>
      </div>
    <!--  -->
    <!-- <div class="col-md-12 expension">
      <mat-accordion>
        <mat-expansion-panel [expanded]="false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>add_alert</mat-icon>
              <p>Notification</p>
            </mat-panel-title>
            <mat-panel-description> </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-divider>
          </mat-divider>
          <div class="row m-2">
            <div class="col-md-12">
              <app-notification></app-notification>
            </div>
          </div>

        </mat-expansion-panel>
      </mat-accordion>
    </div> -->
    <!-- <div class="col-md-12">
      <app-bar-convention></app-bar-convention>
      <app-bar-mecanisme></app-bar-mecanisme>
      <app-three></app-three>
      <app-bar-one></app-bar-one>
      <app-bar-two></app-bar-two>
    </div> -->

    


  </div>


</div>
