<div class="host">
  <div class="row">
    <div class="col-md-6">
      <!-- <app-calendar #myCalendar [testAction]="reactionTest" (dateSelected)="dateSelected($event)"></app-calendar> -->
      <!-- <app-agenda></app-agenda> -->
      <app-bar-convention></app-bar-convention>
      <app-bar-mecanisme></app-bar-mecanisme>
      <app-three></app-three>
      <app-bar-one></app-bar-one>
      <app-bar-two></app-bar-two>
    </div>
    <div class="col-md-6">
      <app-notification></app-notification>
    </div>
  </div>


</div>
