<div class="dialog">
  <h1 mat-dialog-title>
    <mat-toolbar role="toolbar" class="task-header">
      <span>{{title}}</span>
    </mat-toolbar>
    <mat-divider></mat-divider>
  </h1>
  <div class="content">
    <div mat-dialog-content>
      <div class="row">
 
        <div class="col">
          <p style="font-weight:bold;">Discours du président</p>
          <mat-list role="list">
            <mat-list-item matRipple style="cursor: pointer;" (click)="download(e.substring(0, e.length-1))" *ngFor="let e of propertyToList(o.discours)">
              <span style="font-size: .9em;">- {{e.substring(14, e.length-1)}}</span>
            </mat-list-item>
          </mat-list>
        </div>
        <div class="col">
          <p style="font-weight:bold;">Rapport National</p>
          <mat-list role="list">
            <mat-list-item matRipple style="cursor: pointer;" (click)="download(e.substring(0, e.length-1))" *ngFor="let e of propertyToList(o.rapportNational)">
              <span style="font-size: .9em;">- {{e.substring(14, e.length-1)}}</span>
            </mat-list-item>
          </mat-list>
        </div>

        <mat-divider [vertical]="true"> </mat-divider>

        <div class="col">
          <p style="font-weight:bold;">Compilation HCDH/SOCIETE CIVILE</p>
          <mat-list role="list">
            <mat-list-item matRipple style="cursor: pointer;" (click)="download(e.substring(0, e.length-1))" *ngFor="let e of propertyToList(o.compilationHCDH)">
              <span style="font-size: .9em;">- {{e.substring(14, e.length-1)}}</span>
            </mat-list-item>
          </mat-list>
        </div>

        <mat-divider [vertical]="true"> </mat-divider>

        <div class="col">
          <p style="font-weight:bold;">Observations finales/ADDITIFS</p>
          <mat-list role="list">
            <mat-list-item matRipple style="cursor: pointer;" (click)="download(e.substring(0, e.length-1))" *ngFor="let e of propertyToList(o.observationFinale)">
              <span style="font-size: .9em;">- {{e.substring(14, e.length-1)}}</span>
            </mat-list-item>
          </mat-list>
        </div>

        <mat-divider [vertical]="true"> </mat-divider>

        <div class="col">
          <p style="font-weight:bold;">Rapport Mi-Parcours</p>
          <mat-list role="list">
            <mat-list-item matRipple style="cursor: pointer;" (click)="download(e.substring(0, e.length-1))" *ngFor="let e of propertyToList(o.rapportMiParcours)">
              <span style="font-size: .9em;">- {{e.substring(14, e.length-1)}}</span>
            </mat-list-item>
          </mat-list>
        </div>

        <mat-divider [vertical]="true"> </mat-divider>

        <div class="col">
          <p style="font-weight:bold;">Plan mise en œuvre </p>
          <mat-list role="list">
            <mat-list-item matRipple style="cursor: pointer;" (click)="download(e.substring(0, e.length-1))" *ngFor="let e of propertyToList(o.miseOeuvrePiece)">
              <span style="font-size: .9em;">- {{e.substring(14, e.length-1)}}</span>
            </mat-list-item>
          </mat-list>
        </div>
      </div>

    </div>

    <!-- {{myForm.status | json}} -->
    <!-- {{myForm.value | json}} -->

    <div class="actions" mat-dialog-actions>
      <button mat-button (click)="dialogRef.close()" type="button">Retour</button>
    </div>
  </div>
</div>
