

::ng-deep .orange .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #d17c36 !important;
}

::ng-deep .blue .mat-progress-spinner circle, .mat-spinner circle {
    stroke: var(--primary) !important;
}

::ng-deep .gray .mat-progress-spinner circle, .mat-spinner circle {
    stroke: gray !important;
}