
.legend { list-style: none; }
.legend li {  margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
/* your colors */
.legend .superawesome { background-color: #2b6a97; }
.legend .awesome { background-color: #ca7834; }
.legend .kindaawesome { background-color: #808080; }
// .legend{
//   height:10px;
//   // width:190px;
//   margin: 5px -263px 0px 79px;
// }
  .legend li
  {
    font-size: 14px;
    font-weight: 100;
  }
  .divLegend
  {
    height: 54%;
    margin: 4px 0 0 -190px;
  }
.h5Title
{
  color: #737473; margin: 5px -0px 10px 5px;
}
::ng-deep .orange .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #d17c36 !important;
}

::ng-deep .blue .mat-progress-spinner circle, .mat-spinner circle {
    stroke: var(--primary) !important;
}

::ng-deep .gray .mat-progress-spinner circle, .mat-spinner circle {
    stroke: gray !important;
}
