<nav style="position: fixed; top: 0px; z-index: 10; width: 100vw;">
  <mat-card class="d-flex mat-elevation-z6 p-0 m-0 text-white align-items-center"
    style="height: 140px;border-radius: 0;width: 100vw; background: linear-gradient(90deg, #2d71a1 0%, #245688 100%);">

    <div style="margin: auto 0;">
      <img [src]="(mytranslate.lang | async) === 'ar' ? 'assets/logo_ar.png':  'assets/logo.png'" alt="marit logo"
        style="height: 140px;">
    </div>
    <section class="d-flex flex-column justify-content-between  mt-2"
      [ngClass]="{'ml-4': (mytranslate.lang | async) === 'ar'}"
      [ngClass]="{'mr-4': (mytranslate.lang | async) === 'fr'}" style="height: 140px;width: 100%;">



      <!-- first row -->
      <mat-nav-list class="d-flex align-items-start justify-content-start p-0"
        [ngClass]="{'mr-auto': (mytranslate.lang | async) === 'ar'}"
        [ngClass]="{'ml-auto': (mytranslate.lang | async) === 'fr'}" style=" height: fit-content;">
        <span class="example-spacer"></span>
        <mat-list-item [matMenuTriggerFor]="lang"
          style=" background-color: #aaabab00;height: 40px !important; margin-right: 1px;">
          <span style="color: white;">
            <mat-icon>language</mat-icon>
          </span>
        </mat-list-item>
        <mat-menu #lang="matMenu" xPosition="before">
          <button mat-menu-item (click)="changeLanguage('fr')">Fr</button>
          <button mat-menu-item (click)="changeLanguage('ar')">Ar</button>
        </mat-menu>

        <div *ngFor="let e of navs; let i=index">
            <mat-list-item [routerLink]="e.route" routerLinkActive="router-link-active"
              style="height: 40px !important; margin-right: 1px; background-color: #aaabab;">
              <!-- <span class="myspan" [style.width]="e.width ? e.width : 'auto'">{{e.name | async | translate}}</span> -->
              <span class="myspan2" >{{e.name | async | translate}}</span>
            </mat-list-item>

        </div>
        <mat-list-item [matMenuTriggerFor]="beforeMenu"
          style="background-color: #aaabab00;height: 40px !important;margin-right: 1px;">
          <!-- Bienvenue, {{session.getUser.nom}} {{session.getUser.prenom}} -->
          <mat-icon style="color: white;">power_settings_new</mat-icon>
        </mat-list-item>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
          <div *ngIf="session.isPublic">
            <button mat-menu-item [routerLink]="['/auth']" >Se connecter</button>
          </div>

          <div *ngIf="!session.isPublic">
            <button mat-menu-item> <b>{{session.getName}}</b> </button>
            <!-- <button mat-menu-item [routerLink]="['/admin/compte']">Info Compte</button> -->
            <button mat-menu-item (click)="disconnect()">Se déconnecter</button>
          </div>

          <div *ngIf="session.isAdmin">
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="download()" >
              <mat-icon color="primary">cloud_download</mat-icon> {{'didh-app' | translate}}
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item *ngFor="let e of menus; let i=index" [routerLink]="e.route"
              routerLinkActive="router-link-active">
              {{e.name | async | translate}}
            </button>
          </div>
        </mat-menu>
      </mat-nav-list>
      <!-- second row -->
      <mat-nav-list class="d-flex align-items-start justify-content-start p-0">
        <mat-list-item [routerLink]="['/admin/home']" routerLinkActive="router-link-active">
          <mat-icon style="color: white;">home</mat-icon>
        </mat-list-item>


        <div *ngFor="let e of navs2; let i=index">
            <mat-list-item [routerLink]="e.route" routerLinkActive="router-link-active">
              <span class="myspan">{{e.name | async | translate}}</span>
            </mat-list-item>
        </div>
      </mat-nav-list>
    </section>
  </mat-card>
</nav>



<mat-sidenav-container #sidenav class="example-sidenav-container" style=" z-index: 9;">
  <mat-sidenav #snav [mode]="(!mobileQuery.matches) ? 'side' : 'over'" [opened]="opened" [fixedInViewport]="true"
    fixedTopGap="50">


  </mat-sidenav>

  <mat-sidenav-content>

    <main class="" [@routerTransition]="getState(o)" style="margin-top: 142px; height: 100%;">
      <router-outlet #o="outlet"></router-outlet>
    </main>

  </mat-sidenav-content>
</mat-sidenav-container>
