<div class="mat-elevation-z8" style="border-top: 5px solid #3F51B5;">
  <div >

    <!-- <button mat-button (click)="prevDay()"><mat-icon>navigate_before</mat-icon></button>
    <button mat-button (click)="today()">Aujourd'hui</button>
    <button mat-button (click)="nextDay()"><mat-icon>navigate_next</mat-icon></button> -->
    <p class="title">Calendrier des visites</p>
    <mat-divider>
    </mat-divider>
    <mat-calendar style="padding: 5px 15px 15px;" #calendar (monthSelected)="monthSelected($event)"
      [(selected)]="selectedDate" (selectedChange)="dateChanged()">
    </mat-calendar>
  </div>
</div>
