<div *ngIf="!ifEpu" class="d-flex justify-content-center align-items-center" [style.height] = "height">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <p style="font-size: 3em; margin: 0; font-weight: bold; color: #00658e;">{{count | async}}</p>
    <p style="font-size: 2em; margin: 0; font-weight: bold; color: gray;">{{ 'admin.recomm' | translate }}</p>
    <p style="font-size: 2em; margin: 0; font-weight: bold; color: gray;">{{ 'admin.du' | translate }} 2011 {{ 'admin.au' | translate }} {{year}}</p>
  </div>
</div>

<div *ngIf="ifEpu" class="d-flex justify-content-center align-items-center" [style.height] = "height">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <p style="font-size: 3em; margin: 0; font-weight: bold; color: #00658e;">{{count | async}}</p>
    <p style="font-size: 2em; margin: 0; font-weight: bold; color: gray;">{{ 'admin.recomm' | translate }}</p>
    <p style="font-size: 2em; margin: 0; font-weight: bold; color: gray;">{{ mytranslate.langSync === 'fr' ? 'à l’exercice du troisième cycle' : 'برسم الدورة الثالثة' }}</p>
  </div>
</div>
