<div class="d-flex justify-content-center align-items-center" [style.height] = "height">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <p style="font-size: 2em; margin: 0; font-weight: bold;">{{count | async}}</p>
    <p style="font-size: 2em; margin: 0; font-weight: bold;">{{ 'admin.recomm' | translate }}</p>
    <p style="font-size: 2em; margin: 0; font-weight: bold;">{{ 'admin.du' | translate }} 2011 {{ 'admin.au' | translate }} {{year}}</p>
  </div>
</div>
