<div class="dialog">
  <h1 mat-dialog-title>
    <mat-toolbar role="toolbar" class="task-header">
      <span>{{title}}</span>
    </mat-toolbar>
    <mat-divider></mat-divider>
  </h1>
  <div class="content">
    <div mat-dialog-content>

      <form [formGroup]="myForm">
        <mat-form-field appearance="fill">
          <mat-label>{{ 'admin.epu.list.libelle' | translate }}</mat-label>
          <input matInput formControlName="libelle" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{ 'admin.epu.list.libelleAr' | translate }}</mat-label>
          <input matInput formControlName="libelleAr" required>
        </mat-form-field>

        <!-- <mat-form-field appearance="fill">
          <mat-label>Discours du président</mat-label>
          <textarea matInput formControlName="discours" placeholder="Discours du président"></textarea>
        </mat-form-field> -->

        <div class="row justify-content-center" style="margin-bottom: 15px;">

          <app-upload-select nameBtn="{{ 'admin.epu.list.Rapportnational' | translate }}" [folderToSaveInServer]="folderToSaveInServer"
            [propertyOfParent]="rapportNationalTo" [eventSubmitToParent]="rapportNationalFrom"
            [eventSubmitFromParent]="eventSubmitFromParent">
          </app-upload-select>

          <app-upload-select nameBtn="{{ 'admin.epu.list.CompilationHCDHSOCIETECIVILE' | translate }}" [folderToSaveInServer]="folderToSaveInServer"
            [propertyOfParent]="compilationHCDHTo" [eventSubmitToParent]="compilationHCDHFrom"
            [eventSubmitFromParent]="eventSubmitFromParent">
          </app-upload-select>

          <app-upload-select nameBtn="{{ 'admin.epu.list.Discoursduprésident' | translate }}" [folderToSaveInServer]="folderToSaveInServer"
            [propertyOfParent]="discoursTo" [eventSubmitToParent]="discoursFrom"
            [eventSubmitFromParent]="eventSubmitFromParent">
          </app-upload-select>
          <app-upload-select nameBtn="{{ 'admin.epu.list.ObservationsfinalesADDITIFS' | translate }}" [folderToSaveInServer]="folderToSaveInServer"
            [propertyOfParent]="observationFinaleTo" [eventSubmitToParent]="observationFinaleFrom"
            [eventSubmitFromParent]="eventSubmitFromParent">
          </app-upload-select>
          <app-upload-select nameBtn="{{ 'admin.epu.list.PLANDEMISEENOEUVRE' | translate }}" [folderToSaveInServer]="folderToSaveInServer"
            [propertyOfParent]="miseOeuvrePieceTo" [eventSubmitToParent]="miseOeuvrePieceFrom"
            [eventSubmitFromParent]="eventSubmitFromParent">
          </app-upload-select>

          <app-upload-select nameBtn="{{ 'admin.epu.list.Rapportmi-parcours' | translate }}" [folderToSaveInServer]="folderToSaveInServer"
            [propertyOfParent]="rapportMiParcoursTo" [eventSubmitToParent]="rapportMiParcoursFrom"
            [eventSubmitFromParent]="eventSubmitFromParent">
          </app-upload-select>

          <app-upload-select nameBtn="{{ 'admin.epu.rapportINDH' | translate }}" [folderToSaveInServer]="folderToSaveInServer"
          [propertyOfParent]="rapportINDHTo" [eventSubmitToParent]="rapportINDHFrom"
          [eventSubmitFromParent]="eventSubmitFromParent">
        </app-upload-select>

        </div>
      </form>
    </div>

    <!-- {{myForm.status | json}} -->
    <!-- {{myForm.value | json}} -->

    <div class="actions" mat-dialog-actions>
      <button mat-button (click)="onNoClick()" type="button">{{ 'admin.Retour' | translate }}</button>&nbsp;&nbsp;
      <button mat-raised-button cdkFocusInitial color="primary" (click)="onOkClick(myForm.value)"
        [disabled]="myForm.invalid">{{ 'admin.Enregistre' | translate }}</button>
    </div>
  </div>
</div>
