<div class="host">

  <app-title title="{{ 'admin.recommandation.list.Recommandations' | translate }}"></app-title>

  <div class="right">
    <button *ngIf="!session.isPointFocal && !session.isSuperViseur && !session.isPublic" class="mt-3" style="margin: 20px 0 0" mat-raised-button color="primary"
      [routerLink]="['/admin/recommendation/update', 0]">
      <mat-icon>add</mat-icon>
      {{ 'admin.recommandation.list.Recommandation' | translate }}
    </button>
  </div>
  <div class="expension">
    <mat-accordion>
      <mat-expansion-panel expanded (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>search</mat-icon>
            <p>{{ 'admin.recommandation.list.Recherche' | translate }}</p>
          </mat-panel-title>
          <mat-panel-description>

          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-divider>
        </mat-divider>
        <form [formGroup]="myForm">
          <!-- <mat-form-field *ngIf="!session.isPointFocal" appearance="fill" style="width: 100%;margin-bottom: 5px;">
            <mat-label>{{ 'admin.recommandation.list.Recherche' | translate }}</mat-label>
            <input matInput [formControl]="myAuto" [matAutocomplete]="auto" placeholder="auto complétion">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option *ngFor="let e of filteredOptions | async" [value]="e">{{ e.label }} </mat-option>
            </mat-autocomplete>
          </mat-form-field> -->
          <!-- <mat-form-field *ngIf="!session.isPointFocal" appearance="fill" style="width: 100%;margin-bottom: 5px;">
            <mat-label>Organisme</mat-label>
            <mat-select formControlName="idOrganisme">
              <mat-option value="0">...</mat-option>
              <mat-option *ngFor="let e of organismes | async" [value]="e.id">{{ e.label }}</mat-option>
            </mat-select>
          </mat-form-field> -->

          <div class="inputs2">

          <mat-form-field appearance="fill">
            <mat-label>{{ 'admin.recommandation.list.nom' | translate }}</mat-label>
            <!-- <textarea matInput rows="0" formControlName="nom" required></textarea> -->
            <input matInput formControlName="nom" required>
          </mat-form-field>

          </div>
          <div class="inputs2">
            <mat-form-field appearance="fill">
              <mat-label>{{ 'admin.recommandation.list.Pays' | translate }}</mat-label>
              <mat-select formControlName="idPays">
                <mat-option value="0">...</mat-option>
                <mat-option *ngFor="let e of pays | async" [value]="e.id">{{ mytranslate.langSync === 'fr' ? e.nom : e.nomAr }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="!session.isPublic">
              <mat-label>{{ 'admin.questionnaire.list.année' | translate }}</mat-label>
              <mat-select formControlName="annee">
                <mat-option *ngFor="let e of annee" [value]="e">{{ e }}</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="inputs2">



            <mat-form-field appearance="fill">
              <mat-label>{{ 'admin.recommandation.list.mecanisme' | translate }}</mat-label>
              <mat-select formControlName="mecanisme" (selectionChange)="selectChange($event.value)">
                <mat-option value="0">...</mat-option>
                <mat-option *ngFor="let e of mecanismes | async" [value]="e.name">{{ mytranslate.langSync === 'fr' ? e.name : e.nameAr }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="cycleActive">
              <mat-label>{{ 'admin.recommandation.list.Cycle' | translate }}</mat-label>
              <mat-select formControlName="idCycle">
                <mat-option value="0">...</mat-option>
                <mat-option *ngFor="let e of cycles | async" [value]="e.id">{{ mytranslate.langSync === 'fr' ? e.label : e.labelAr  }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="visiteActive">
              <mat-label>{{ 'admin.recommandation.list.Visite' | translate }}</mat-label>
              <mat-select formControlName="idVisite">
                <mat-option value="0">...</mat-option>
                <mat-option *ngFor="let e of visites | async" [value]="e.id">{{ mytranslate.langSync === 'fr' ? e.mandat : e.mandatAr }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="organeActive">
              <mat-label>{{ 'admin.recommandation.list.Organe' | translate }}</mat-label>
              <mat-select formControlName="idOrgane">
                <mat-option value="0">...</mat-option>
                <mat-option *ngFor="let e of organes | async" [value]="e.id">{{ mytranslate.langSync === 'fr' ? e.label : e.labelAr }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>{{ 'admin.recommandation.list.Etatdemisenoeuvre' | translate }}</mat-label>
              <mat-select formControlName="etat">
                <!-- <mat-option value="0">...</mat-option> -->
                <mat-option *ngFor="let e of etats | async" [value]="e.name">{{ mytranslate.langSync === 'fr' ? e.name : e.nameAr }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="inputs2">

            <mat-form-field appearance="fill">
              <mat-label>{{ 'admin.recommandation.list.Axe' | translate }}</mat-label>
              <mat-select formControlName="idAxe" (selectionChange)="axeChange($event.value)">
                <mat-option value="0">...</mat-option>
                <mat-option *ngFor="let e of axes | async" [value]="e.id">{{ mytranslate.langSync === 'fr' ? e.label : e.labelAr }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>{{ 'admin.recommandation.list.Sousaxe' | translate }}</mat-label>
              <mat-select formControlName="idSousAxe">
                <mat-option value="0">...</mat-option>
                <mat-option *ngFor="let e of sousAxes" [value]="e.id">{{ mytranslate.langSync === 'fr' ? e.label : e.labelAr }}</mat-option>
              </mat-select>
            </mat-form-field>

            <!-- <mat-form-field appearance="fill">
              <mat-label>Département</mat-label>
              <mat-select formControlName="idOrganisme">
                <mat-option value="0">...</mat-option>
                <mat-option *ngFor="let e of organismes | async" [value]="e.id">
                  {{ mytranslate.langSync === 'fr' ? e.label : e.label }}</mat-option>
              </mat-select>
            </mat-form-field> -->

            <mat-form-field appearance="fill" *ngIf="session.isAdmin || session.isSuperViseur">
              <mat-label>{{ 'admin.recommandation.list.DEPARTEMENT' | translate }}</mat-label>
              <mat-select formControlName="idOrganisme">
                <mat-option value="0">...</mat-option>
                <mat-option *ngFor="let e of organismes | async" [value]="e.id">
                  {{ mytranslate.langSync === 'fr' ? e.label : e.labelAr }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </form>
        <div class="right">

          <button mat-raised-button color="primary" (click)="search(myForm.value)" [disabled]="isAllEmpty">
            <mat-icon>search</mat-icon>
            {{ 'admin.recommandation.list.Rechercher' | translate }}
          </button>
          &nbsp;
          <button mat-raised-button (click)="reset()" >
            <mat-icon>refresh</mat-icon>
            {{ 'admin.recommandation.list.Réinitialiser' | translate }}
          </button>
        </div>

      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <!-- {{myForm.value | json}} -->


  <div class="example-container mat-elevation-z8">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="example-table-container">
      <table mat-table #table [dataSource]="dataSource" multiTemplateDataRows aria-label="Elements" matSort>
        <ng-container [matColumnDef]="columnDefs[0].columnDef">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'admin.recommandation.list.code' | translate }}</th>
          <td mat-cell *matCellDef="let row">
            {{ mytranslate.langSync === 'fr' ? row.codeRecommendation : displayFrIfArNull(row.codeRecommendation, row.codeRecommendationAr) }}
          </td>
        </ng-container>

        <ng-container [matColumnDef]="columnDefs[1].columnDef">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'admin.recommandation.list.nom' | translate }}</th>
          <td mat-cell *matCellDef="let row">{{ mytranslate.langSync === 'fr' ? row.nom : displayFrIfArNull(row.nom, row.nomAr)}}</td>
        </ng-container>

        <ng-container [matColumnDef]="columnDefs[2].columnDef">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'admin.recommandation.list.mecanisme' | translate }}</th>
          <td mat-cell *matCellDef="let row">{{displayMulti(row.mecanisme, row.etat).m}}</td>
        </ng-container>
        <ng-container [matColumnDef]="columnDefs[3].columnDef">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'admin.recommandation.list.Axe' | translate }}</th>
          <td mat-cell *matCellDef="let row">{{row[columnDefs[3].columnDef]}}</td>
        </ng-container>

        <ng-container [matColumnDef]="columnDefs[4].columnDef">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'admin.recommandation.list.Sousaxe' | translate }}</th>
          <td mat-cell *matCellDef="let row">{{row[columnDefs[4].columnDef]}}</td>
        </ng-container>

        <ng-container [matColumnDef]="'organismes'" [style.display]="'none'">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'admin.recommandation.list.DEPARTEMENT' | translate }}</th>
          <td mat-cell *matCellDef="let row">{{row.organismes}}</td>
        </ng-container>

        <ng-container [matColumnDef]="'etat'" [style.display]="'none'">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'admin.recommandation.list.Etatdemisenoeuvre' | translate }}</th>
          <td mat-cell *matCellDef="let row">{{displayMulti(row.mecanisme, row.etat).e}}</td>
        </ng-container>

        <!-- <ng-container [matColumnDef]="columnDefs[7].columnDef">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'admin.recommandation.list.OBSERVATIONS' | translate }}</th>
          <td mat-cell *matCellDef="let row">{{row[columnDefs[7].columnDef]}}</td>
        </ng-container> -->
        <ng-container [matColumnDef]="'pieceJointe'" [style.display]="'none'">
          <th mat-header-cell *matHeaderCellDef>{{ 'admin.recommandation.list.OBSERVATIONS' | translate }}</th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button [disabled]="row.pieceJointe === ''" [matTooltip]="row.pieceJointe" color="accent"
              (click)="showPieceJoin(row.pieceJointe)">
              <mat-icon>cloud_download</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container [matColumnDef]="'complement'" [style.display]="'none'">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'admin.recommandation.list.complement' | translate }}</th>
          <td mat-cell *matCellDef="let row">{{row.complement}}</td>
        </ng-container>


        <ng-container matColumnDef="option" style="flex-direction: row-reverse;">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let row">
            <div class="button-row" *ngIf="!session.isPublic">
              <button mat-icon-button color="primary" (click)="detail(row)">
                <mat-icon>visibility</mat-icon>
              </button>
              <button mat-icon-button color="primary" [routerLink]="['/admin/recommendation/update', row.id]"  *ngIf="!session.isSuperViseur">
                <mat-icon>create</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="delete(row)"  *ngIf="!session.isPointFocal && !session.isSuperViseur">
                <mat-icon>delete_sweep</mat-icon>
              </button>



            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </div>

    <mat-paginator #paginator [length]="resultsLength" pageIndex="0" pageSize="10"
      [pageSizeOptions]="[10, 25, 50, 100, 250]" showFirstLastButtons>
    </mat-paginator>
  </div>
</div>
