::ng-deep.special-date {
  .mat-calendar-body-cell-content {
    background-color: rgb(156, 156, 156);
    color: white;
    box-shadow: inset 0 0 0 1px white;
  }
}

::ng-deep.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover
  > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected) {
  // background-color: red;
}

.title {
  font-size: 1.1em;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.54);
  margin: 5px;
  padding-left: 18px;
}
