
<h3>{{ 'admin.organe.update.traite.synthese.Synthèse' | translate}}</h3>
<mat-divider></mat-divider>
<div class="example-container mat-elevation-z8" style="margin-bottom: 20px;">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="example-table-container">
    <table mat-table #table [dataSource]="dataSource" multiTemplateDataRows aria-label="Elements" matSort>
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef style="width: 250px;">
          <!-- <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox> -->

        </th>
        <!--  -->
        <td mat-cell *matCellDef="let row">
          <!-- (click)="check(row)" -->
          <mat-checkbox (change)="$event ? check(row) : null" (click)="$event.stopPropagation()"
            [checked]="isSelected(row)" [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container [matColumnDef]="columnDefs[1].columnDef">
        <th mat-header-cell *matHeaderCellDef>{{ 'admin.organe.update.traite.synthese.code' | translate}}</th>
        <td mat-cell *matCellDef="let row">{{row[columnDefs[1].columnDef]}}</td>
      </ng-container>
      <ng-container [matColumnDef]="columnDefs[2].columnDef">
          <th mat-header-cell *matHeaderCellDef>{{ 'admin.organe.update.traite.synthese.detail' | translate}}</th>
          <td mat-cell *matCellDef="let row"> {{subString(row[columnDefs[2].columnDef])}}</td>
        </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <!-- (click)="selection.toggle(row)" -->

    </table>
  </div>

  <mat-paginator #paginator [length]="resultsLength" pageIndex="0" pageSize="5"
    [pageSizeOptions]="[2, 10, 25, 50, 100, 250]" showFirstLastButtons>
  </mat-paginator>
</div>
