<mat-card>
    <h4>{{ 'admin.organe.situation_des_réserves' | translate }}</h4>

    <div class="row" style="margin-bottom: 15px;">
        <div class="col-md-6" *ngIf="session.isSuperViseur === false">
            <app-upload nameBtn="{{ 'Pièce-jointe' | translate }}" [folderToSaveInServer]="folderToSaveInServer"
                [propertyOfParent]="propertyUrlTo" [eventSubmitToParent]="propertyUrlFrom"
                [eventSubmitFromParent]="eventSubmitFromParent">
            </app-upload>
        </div>


        <div class="col-md-3" *ngIf="session.isSuperViseur === false">
            <button mat-raised-button cdkFocusInitial color="primary" (click)="submit()"
                [disabled]="o.url === '' && o.id === 0"><mat-icon>save_alt</mat-icon> {{ 'admin.Enregistre' | translate }}</button>
        </div>

        <div class="col-md-3">
            <button mat-raised-button cdkFocusInitial color="accent" (click)="showPieceJoin()"
                [disabled]="o.url === '' && o.id === 0">
                <mat-icon>cloud_download</mat-icon> {{ 'admin.organe.Telecharger' | translate }}
            </button>
        </div>
    </div>
</mat-card>
