
<div class="row">
    <form [formGroup]="myForm">


        <!-- <mat-form-field class="col-md-6">
            <mat-label>Mecanisme</mat-label>
            <mat-select formControlName="mecanisme" (selectionChange)="selectChange($event.value)">
                <mat-option value="0">...</mat-option>
                <mat-option *ngFor="let e of mecanismes" [value]="e">{{ e }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="cycleActive" class="col-md-6">
            <mat-label>Cycle</mat-label>
            <mat-select formControlName="idCycle">
                <mat-option value="0">...</mat-option>
                <mat-option *ngFor="let e of cycles" [value]="e.id">{{ e.label }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="visiteActive" class="col-md-6">
            <mat-label>Visite</mat-label>
            <mat-select formControlName="idVisite">
                <mat-option value="0">...</mat-option>
                <mat-option *ngFor="let e of visites | async" [value]="e.id">{{ e.mandat }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="organeActive" class="col-md-6">
            <mat-label>Organe</mat-label>
            <mat-select formControlName="idOrgane">
                <mat-option value="0">...</mat-option>
                <mat-option *ngFor="let e of organes | async" [value]="e.id">{{ e.label }}</mat-option>
            </mat-select>
        </mat-form-field> -->
        <mat-form-field class="col-md-6">
            <mat-label>Mecanismes</mat-label>
            <mat-select formControlName="mecanisme" (selectionChange)="selectChange($event.value)">
                <mat-option *ngFor="let e of mecanismes" [value]="e">{{ e }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="col-md-6">
            <mat-label>Axe</mat-label>
            <mat-select formControlName="idAxe" (selectionChange)="axeChange($event.value)">
                <mat-option value="0">...</mat-option>
                <mat-option *ngFor="let e of axes | async" [value]="e.id">{{ e.label }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="col-md-6">
            <mat-label>Sous axe</mat-label>
            <mat-select formControlName="idSousAxe">
                <mat-option value="0">...</mat-option>
                <mat-option *ngFor="let e of sousAxes" [value]="e.id">{{ e.label }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="col-md-6">
            <mat-label>Organisme</mat-label>
            <mat-select formControlName="idAxe" (selectionChange)="axeChange($event.value)">
                <mat-option value="0">...</mat-option>
                <mat-option *ngFor="let e of organismes | async" [value]="e.id">{{ e.label }}</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>

<div class="right">
    <button mat-raised-button color="primary" (click)="search(myForm.value)" [disabled]="isAllEmpty">
        <mat-icon>search</mat-icon>
        Rechercher
    </button>
    &nbsp;
    <button mat-raised-button (click)="reset()" [disabled]="isAllEmpty">
        <mat-icon>refresh</mat-icon>
        Réinitialiser
    </button>
</div>
<div class="row">
    <div class="col-md-6">
        <app-state-pie [obs]="listAxes"></app-state-pie>

    </div>
    <div class="col-md-6">
        <app-state-pie [obs]="listOrganisme"></app-state-pie>

    </div>
</div>
<!-- <mat-card>

</mat-card> -->