<div class="expension">

  <mat-accordion>

    <mat-expansion-panel expanded (opened)="panelOpenState = true" (closed)="panelOpenState = false"
      style="box-sizing: border-box;">
      <mat-divider>
      </mat-divider>
      <form [formGroup]="myForm">
        <div class="inputs2">

          <mat-form-field appearance="fill">
            <mat-label>{{ 'admin.recommandation.list.nom' | translate }}</mat-label>
            <!-- <textarea matInput rows="0" formControlName="nom" required></textarea> -->
            <input matInput formControlName="nom" required>
          </mat-form-field>

          </div>
          <div class="inputs2">
            <mat-form-field appearance="fill">
              <mat-label>{{ 'admin.recommandation.list.Pays' | translate }}</mat-label>
              <mat-select formControlName="idPays">
                <mat-option value="0">...</mat-option>
                <mat-option *ngFor="let e of pays | async" [value]="e.id">{{ mytranslate.langSync === 'fr' ? e.nom : e.nomAr }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>{{ 'admin.questionnaire.list.année' | translate }}</mat-label>
              <mat-select formControlName="annee">
                <mat-option value="0">...</mat-option>
                <mat-option *ngFor="let e of annees" [value]="e.annee">{{ mytranslate.langSync === 'fr' ? e.anneeDisplay : e.anneeDisplayAr }}</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
        <div class="inputs2">

          <!-- <mat-form-field appearance="fill">
            <mat-label>{{ 'admin.recommandation.list.mecanisme' | translate }}</mat-label>
            <mat-select formControlName="mecanisme" (selectionChange)="selectChange($event.value)">
              <mat-option value="0">...</mat-option>
              <mat-option *ngFor="let e of mecanismes | async" [value]="e.name">
                {{ mytranslate.langSync === 'fr' ? e.name : e.nameAr }}</mat-option>
            </mat-select>
          </mat-form-field> -->

          <mat-form-field appearance="fill" *ngIf="cycleActive">
            <mat-label>{{ 'admin.recommandation.list.Cycle' | translate }}</mat-label>
            <mat-select formControlName="idCycle">
              <mat-option value="0">...</mat-option>
              <mat-option *ngFor="let e of cycles | async" [value]="e.id">
                {{ mytranslate.langSync === 'fr' ? e.label : e.labelAr }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" *ngIf="visiteActive">
            <mat-label>{{ 'admin.recommandation.list.Visite' | translate }}</mat-label>
            <mat-select formControlName="idVisite">
              <mat-option value="0">...</mat-option>
              <mat-option *ngFor="let e of visites | async" [value]="e.id">
                {{ mytranslate.langSync === 'fr' ? e.mandat : e.mandatAr }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" *ngIf="organeActive">
            <mat-label>{{ 'admin.recommandation.list.Organe' | translate }}</mat-label>
            <mat-select formControlName="idOrgane">
              <mat-option value="0">...</mat-option>
              <mat-option *ngFor="let e of organes | async" [value]="e.id">
                {{ mytranslate.langSync === 'fr' ? e.label : e.labelAr }}</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- <mat-form-field appearance="fill">
            <mat-label>{{ 'admin.recommandation.list.Etatdemisenoeuvre' | translate }}</mat-label>
            <mat-select formControlName="etat">
              <mat-option *ngFor="let e of etats | async" [value]="e.name">
                {{ mytranslate.langSync === 'fr' ? e.name : e.nameAr }}</mat-option>
            </mat-select>
          </mat-form-field> -->
        </div>
        <div class="inputs2">

          <mat-form-field appearance="fill">
            <mat-label>{{ 'admin.recommandation.list.Axe' | translate }}</mat-label>
            <mat-select formControlName="idAxe" (selectionChange)="axeChange($event.value)">
              <mat-option value="0">...</mat-option>
              <mat-option *ngFor="let e of axes | async" [value]="e.id">
                {{ mytranslate.langSync === 'fr' ? e.label : e.labelAr }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>{{ 'admin.recommandation.list.Sousaxe' | translate }}</mat-label>
            <mat-select formControlName="idSousAxe">
              <mat-option value="0">...</mat-option>
              <mat-option *ngFor="let e of sousAxes" [value]="e.id">
                {{ mytranslate.langSync === 'fr' ? e.label : e.labelAr }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="inputs2">
          <mat-form-field appearance="fill" *ngIf="session.isAdmin || session.isSuperViseur">
            <mat-label>{{ 'admin.recommandation.list.DEPARTEMENT' | translate }}</mat-label>
            <mat-select formControlName="idOrganisme">
              <mat-option value="0">...</mat-option>
              <mat-option *ngFor="let e of organismes | async" [value]="e.id">
                {{ mytranslate.langSync === 'fr' ? e.label : e.labelAr }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </form>
      <div class="right">

        <button mat-raised-button color="primary" (click)="search(myForm.value)" [disabled]="isAllEmpty">
          <mat-icon>search</mat-icon>
          {{ 'admin.recommandation.list.Rechercher' | translate }}
        </button>
        &nbsp;
        <button mat-raised-button (click)="reset()" [disabled]="isAllEmpty">
          <mat-icon>refresh</mat-icon>
          {{ 'admin.recommandation.list.Réinitialiser' | translate }}
        </button>
      </div>

      <mat-divider> </mat-divider>

      <mat-tab-group #myTab class="example-stretched-tabs" #matgroup (selectedTabChange)="selectedTabChange(matgroup)">
        <mat-tab label="Global">
          <ng-template mat-tab-label>
            <span (click)="hide()">{{ mytranslate.langSync === 'fr' ? 'Global' : 'شامل'}}</span>
            <!-- {{hideGlobalGraph}} {{indexTohideGlobalGraph}} -->
          </ng-template>
          <ng-template matTabContent>
            <!-- <div class="col-md-12" [style.display]="hideGlobalGraph ? 'none' : 'block'"> -->
            <div class="col-md-12">
              <div class="row w-100">
                <div class="col-md-6">
                  <app-pie [withGraphe]="'100%'" [showLegend]="true" [obs]="mecanismePieValue"></app-pie>
                </div>
                <div class="col-md-6">
                  <app-pie [withGraphe]="'100%'" [showLegend]="true" [obs]="recommendationPieValues"></app-pie>
                </div>
              </div>
            </div>
          </ng-template>
        </mat-tab>
        <!-- Etat d'avancement des recommandations par axe -->
        <mat-tab label="{{ 'admin.epu.list.Examenpériodiqueuniversal' | translate }}">
          <ng-template matTabContent>
            <div class="col-md-12">
              <div class="chart-size">
                <app-bar [col]="12" [dataSubject]="examenPageSubject"></app-bar>
              </div>
            </div>
          </ng-template>
        </mat-tab>

        <mat-tab label="{{ 'admin.organe.list.Organesdetraité' | translate }}">
          <ng-template matTabContent>
            <div class="row mb-4 justify-content-center">
              <div class="col-md-12">
                <app-bar [dataSubject]="organePageSubject"></app-bar>
              </div>
            </div>
          </ng-template>
        </mat-tab>

        <mat-tab label="{{ 'admin.ps.Procédure_spéciales' | translate }}">
          <ng-template matTabContent>
            <app-bar [dataSubject]="visitePageSubject"></app-bar>
          </ng-template>
        </mat-tab>
      </mat-tab-group>

      <!-- Mise en œuvre des recommandations par mécanisme -->

      <div class="row justify-content-center">
        <!-- <div class="col-md-8">
          <app-bar [dataSubject]="mecanismeSubject"></app-bar>
        </div> -->
        <div class="col-md-12 mb-5 mt-5" *ngIf="selectedIndex2 === 0">
          <div class="d-flex justify-content-center w-100" style="margin-top: 2%;margin-bottom: 2%; ">
            <section
              [className]="(mytranslate.lang | async) === 'fr' ? 'super-title border-left' : 'super-title border-right'">
              <div>
                <h3 class="pie-title">{{ 'admin.state.Mise_en_œuvre_des_recommandations_par_Axe' | translate }}</h3>
              </div>
            </section>
          </div>

          <!-- <div *ngFor="let e of axesList; let i=index">
            <app-progress-bar [widthOne]="e.p" [widthTwo]="e.t" [title]="e.name"></app-progress-bar>
          </div> -->

          <div class="col-md-12">
            <div class="chart-size">
              <app-bar [col]="12" [dataSubject]="axePageSubject"></app-bar>
            </div>
          </div>
        </div>


        <!-- Mise en œuvre des recommandations par départements -->
        <div class="col-md-12 mt-5">
          <!-- <div class="d-flex justify-content-center w-100" style="margin-top: 2%; margin-bottom: 2%; ">
            <section
              [className]="(mytranslate.lang | async) === 'fr' ? 'super-title border-left' : 'super-title border-right'">
              <div>
                <h3 class="pie-title">{{ 'admin.state.Mise_en_œuvre_des_recommandations_par_départements' | translate }}</h3>
              </div>
            </section>
          </div>

          <div class="d-flex flex-wrap justify-content-center ">
            <div class="col-md-12">
              <div class="chart-size">
                <app-bar [col]="12" [dataSubject]="departementSubjectAll" [height]="'70vh'"></app-bar>
              </div>
            </div>
          </div> -->

        </div>

        <div class="col-md-12 mt-2">
          <app-recomm [fromParent]="toRecomendationComponent"></app-recomm>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
