<div class="dialog">
  <h1 mat-dialog-title>
    <mat-toolbar role="toolbar" class="task-header">
      <span>{{title}}</span>
    </mat-toolbar>
    <mat-divider></mat-divider>
  </h1>
  <div class="content">
    <div mat-dialog-content>

      <form [formGroup]="myForm">
        <!-- <mat-form-field appearance="outline">
          <mat-label>Objet</mat-label>
          <input matInput formControlName="objet" required>
        </mat-form-field> -->
        <mat-form-field appearance="outline">
          <mat-label>Mandat</mat-label>
          <input matInput formControlName="mandat" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Date prévue</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div class="" style="margin-bottom: 15px;">
          <!-- <input hidden #imgInput type="file" accept="image/*" (change)="handleFileInput($event.target.files)"> -->
          <input hidden style="display: none;"
          accept="application/pdf,.doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
           #file type="file" multiple (change)="upload(file.files)">
          <button mat-raised-button color="accent" type="button" (click)="openInput(file)">
            Rapport de visite
          </button>

          <!-- <button mat-raised-button color="warn" type="button" (click)="remove()">
            Supprimer le rapport
          </button> -->
          <div class="myrow">

            <h6 *ngIf="filename !== ''">
              <img [src]="setIcon(filename)" alt="pdf/word"> - {{filename}}
              <button mat-icon-button color="warn" (click)="remove()" type="button">
                <mat-icon>delete_sweep</mat-icon>
              </button>
            </h6>
          </div>
        </div>

        <mat-form-field appearance="outline">
          <mat-label>Lien externe</mat-label>
          <input matInput formControlName="lienRapport">
        </mat-form-field>

      </form>
    </div>
    <!--
    {{myForm.status | json}}
    {{myForm.value | json}} -->

    <div class="actions" mat-dialog-actions>
      <button mat-button (click)="onNoClick()" type="button">Annuler</button>&nbsp;&nbsp;
      <button mat-raised-button cdkFocusInitial color="primary" (click)="onOkClick(myForm.value)"
        [disabled]="myForm.invalid">Enregistre</button>
    </div>
  </div>
</div>
