<div *ngIf="title && title !== ''" class="d-flex justify-content-left w-100" style="margin-top: 2%;">
  <section [className]="(mytranslate.lang | async) === 'fr' ? 'super-title border-left' : 'super-title border-right'">
    <div>
      <h3>{{title === '' ? '.......' : title}}</h3>
    </div>
  </section>
</div>

<div class="d-flex flex-column align-items-center justify-content-center" style="cursor: pointer;" (click)="openDialog()">

  <div [class]="'col-md-' + col" style="display: block; width: 80vw;">
    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
      [legend]="barChartLegend" [chartType]="barChartType" [plugins]="pieChartPlugins" [colors]="pieChartColors" (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"></canvas>

    <!-- <button class="m-1" mat-mini-fab color="accent" (click)="randomize()"><mat-icon>compare_arrows</mat-icon></button> -->

  </div>
<!--
  <div class="d-flex flex-column justify-content-center mt-3">
    <img src="assets/line.png" height="10px" width="280px" [style.transform]="'rotateY(' + retate + 'deg)'">
    <h5 style="color: #737473; margin: 5px 0 10px 5px;">
      {{title === '' ? '.......' : title}}
    </h5>
  </div> -->


</div>
