<div class="dialog">
  <h1 mat-dialog-title>
    <mat-toolbar role="toolbar" class="task-header">
      <span>{{ 'admin.organe.update.Rapport' | translate}}</span>
    </mat-toolbar>
    <mat-divider></mat-divider>
  </h1>
  <div class="content">
    <div mat-dialog-content style="max-height: 77vh;">

      <form [formGroup]="myForm">
        <div class="inputs">

          <mat-form-field appearance="fill">
            <mat-label>{{ 'admin.organe.update.traite.update.TITRE' | translate}}</mat-label>
            <input matInput formControlName="titre" required>
          </mat-form-field>


          <mat-form-field appearance="fill">
            <mat-label>{{ 'admin.organe.update.traite.update.Référence_des_observations_finales' | translate}}</mat-label>
            <input matInput formControlName="reference" required>
          </mat-form-field>
        </div>
        <div class="row">
          <div class="col-md-4">
            <mat-form-field appearance="fill">
              <mat-label>{{ 'admin.organe.update.traite.update.Date_rapport' | translate}}</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="dateDernierRapport">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="fill">
              <mat-label>{{ 'admin.organe.update.traite.update.Date_des_observations_finales' | translate}}</mat-label>
              <input matInput [matDatepicker]="picker1" formControlName="dateObservation">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="fill">
              <mat-label>{{ 'admin.organe.update.traite.update.Prochain_rapport' | translate}}</mat-label>
              <input matInput [matDatepicker]="picker2" formControlName="dateProchaineRapport">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="" style="margin-bottom: 15px;">
          <!-- <input hidden #imgInput type="file" accept="image/*" (change)="handleFileInput($event.target.files)"> -->
          <input hidden style="display: none;"
            accept="application/pdf,.doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
            #file type="file" multiple (change)="upload(file.files)">
          <button mat-raised-button type="button" (click)="openInput(file)" color="accent">
            {{ 'admin.organe.update.traite.update.Pièce_jointe' | translate}}
          </button>

          <!-- <button mat-raised-button color="warn" type="button" (click)="remove()">
                Supprimer le rapport
              </button> -->
          <div class="myrow">
            <!-- <div *ngFor="let f of pieceJointeToShow"> -->
            <h6 *ngIf="pieceJointe !== ''">
              <img [src]="setIcon(pieceJointe)" alt="pdf/word"> - {{pieceJointe}}
              <button mat-icon-button color="warn" (click)="remove(pieceJointe)" type="button">
                <mat-icon>delete_sweep</mat-icon>
              </button>
            </h6>
          </div>
          <!-- </div> -->
        </div>

      </form>
      <app-synthese (eventToParent)="updateListSynthese($event)" [rapport]="o"></app-synthese>
    </div>

    <!--
    {{myForm.status | json}}
    {{myForm.value | json}} -->

    <div class="actions" mat-dialog-actions>
      <button mat-button (click)="onNoClick()" type="button">{{ 'admin.Retour' | translate }}</button>&nbsp;&nbsp;
      <button mat-raised-button cdkFocusInitial color="primary" (click)="onOkClick(myForm.value)"
        [disabled]="myForm.invalid">{{ 'admin.Enregistre' | translate }}</button>
    </div>
  </div>
</div>
