<div class="dialog">
  <h1 mat-dialog-title>
    <mat-toolbar role="toolbar" class="task-header">
      <span>Organes de traités</span>
    </mat-toolbar>
    <mat-divider></mat-divider>
  </h1>
  <div class="content">
    <div mat-dialog-content>


      <div class="row justify-content-center" style="margin-bottom: 15px;">

        <h4 style="color: #737473; margin: 5px 0 10px 5px;text-indent:1cm;">
          Les organes de traités sont des comités d’experts indépendants qui surveillent l’application des principaux
          traités internationaux relatifs aux droits de l’homme et de leurs protocoles facultatifs. Ils ont été créés en
          fonction de l’instrument qu’ils sont chargés de superviser l’application.

          La surveillance de la mise en œuvre des traités internationaux des droits de l’Homme par les organes de
          traités comprend trois missions principales:

          <li> L’examen des rapports périodiques </li>

          <li> Les mécanismes de communications individuelles </li>

          <li> Les observations générales</li>

        </h4>

      </div>
    </div>

    <!-- {{myForm.status | json}} -->
    <!-- {{myForm.value | json}} -->

    <div class="actions" mat-dialog-actions>
      <button mat-button (click)="onNoClick()" type="button">{{ 'admin.Retour' | translate }}</button>&nbsp;&nbsp;
    </div>
  </div>
</div>
