<div class="dialog">
  <h1 mat-dialog-title>
    <mat-toolbar role="toolbar" class="task-header">
      <span>Examen périodique universal</span>
    </mat-toolbar>
    <mat-divider></mat-divider>
  </h1>
  <div class="content">
    <div mat-dialog-content>


        <div class="row justify-content-center" style="margin-bottom: 15px;">

          <h4 style="color: #737473; margin: 5px 0 10px 5px;">
            Etabli par la résolution 60/251 de l’Assemblée générale des Nations Unies, adoptée le 15 mars 2006, l’Examen
            Périodique Universel (EPU) est un processus mené par les Etats, dans le cadre des travaux du Groupe de
            travail sur l’Examen périodique universel constitué des 47 États membres du Conseil des droits de l’Homme,
            qui a pour fonction d’examiner et de promouvoir le suivi des obligations et des engagements de tous les
            États membres des Nations Unies dans le domaine du respect, de la promotion et de la réalisation effective
            de tous les droits de l’Homme sur le terrain, et ce tous les quatre ans et demi.

            Ce mécanisme consiste à examiner le degré de mise en œuvre des obligations des Etats à la lumière notamment
            de la Charte des Nations Unies, la Déclaration universelle des droits de l’Homme (DUDH) et des instruments
            relatifs aux droits de l’Homme auxquelles l’État examiné est partie. Il se base sur trois sources
            d’information :
            <li> un rapport présenté par l’État examiné (vingt pages) ; </li>
            <li> une compilation établie par le Haut-Commissariat des Nations Unies aux droits de l’homme (HCDH) sur la
              base des informations fournies par les organes de traités, les procédures spéciales et les agences des
              Nations Unies (dix pages) ; </li>
            <li> et un résumé établi par le HCDH des communications présentées par d’autres parties prenantes notamment
              les organisations de la société civile et les institutions nationales des droits de l’Homme (dix pages).
            </li>
            L’examen au sein du Groupe de travail sur l’EPU se déroule à Genève en trois étapes :
            <li> le dialogue interactif d’une durée de trois heures et demi qui a lieu lors des sessions du Groupe de
              travail sur l’EPU qui se tiennent trois fois par an en janvier, avril et octobre, à raison de 14 États
              examinés par session. </li>
            <li> L’adoption « technique » du rapport final de l’EPU, élaboré par la troïka, listant les recommandations
              faites à l’État examiné lors de la session du Groupe de travail de l’EPU. Ce rapport comprend les
              questions, les observations et les recommandations formulées par les États au pays examiné, ainsi que les
              réponses de ce dernier. L’État examiné a la possibilité de formuler des commentaires préliminaires sur les
              recommandations en choisissant de les accepter ou d’en prendre note. Les recommandations acceptées et
              celles notées sont incluses dans le rapport.</li>
            <li> l’adoption du document final lors d’une séance plénière du Conseil des droits de l’Homme. Au cours de
              cette séance, l’État examiné peut répondre aux questions et aux points qui n’ont pas été suffisamment
              traités par le Groupe de travail et donner suite aux recommandations qui ont été formulées par les États
              au cours de l’examen. A cette étape, les États Membres, les institutions nationales des droits de l’homme,
              et les ONG peuvent exprimer leur opinion sur le document final. Le résultat de chaque examen est un
              "document final".</li>
              Les recommandations acceptées doivent être mises en œuvre et faire ainsi l’objet d’un suivi de la part de
              l’Etat examiné durant la période considérée et qui sépare les deux examens.
              Le Maroc a été examiné par le mécanisme de l’EPU en 2008 au titre son premier cycle, en 2012 au titre de
              son second cycle et en 2017 au titre de son troisième cycle. le Maroc a fait l’objet de 148
              recommandations dont 140 ont été acceptées à l’issue du 2ème cycle de l’EPU, et de 244 recommandations
              dont 191 ont été accepté, et 44 notées et 9 refusées au titre du 3ème cycle de l’EPU.
              Aussi, dans le cadre de son engagement volontaire devant le Conseil des droits, consacré pour la deuxième
              fois après avoir présenté un premier rapport à mi-parcours en 2014, le Maroc a présenté son rapport à mi
              parcours relatif au suivi de la mise en œuvre des recommandations issues du 3ème cycle de l’EPU en 2019.

          </h4>

        </div>
    </div>

    <!-- {{myForm.status | json}} -->
    <!-- {{myForm.value | json}} -->

    <div class="actions" mat-dialog-actions>
      <button mat-button (click)="onNoClick()" type="button">{{ 'admin.Retour' | translate }}</button>&nbsp;&nbsp;
    </div>
  </div>
</div>
